//! **************************************************************************
// Written by: Map P.20131013 on Fri Dec 19 22:07:58 2014
//! **************************************************************************

SCHEMATIC START;
COMP "LED<0>" LOCATE = SITE "P119" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "P118" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "P117" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "P116" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "P115" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "P114" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "P112" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "P111" LEVEL 1;
COMP "SW0" LOCATE = SITE "P124" LEVEL 1;
COMP "SW1" LOCATE = SITE "P123" LEVEL 1;
COMP "SW2" LOCATE = SITE "P121" LEVEL 1;
COMP "SW3" LOCATE = SITE "P120" LEVEL 1;
COMP "CLK" LOCATE = SITE "P126" LEVEL 1;
SCHEMATIC END;

